/*Navbar Font*/
@font-face {
    font-family: Mobern;
    src: url(Fonts/MobernFashion-DemoVersion-Black.ttf);
}

@font-face {
    font-family: Mogent;
    src: url(Fonts/Mogent.otf);
}

@font-face {
    font-family: CaviarDreams;
    src: url(Fonts/CaviarDreams.ttf);
}

/*NavBar styling*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #b3b3b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*Top left logo styling*/
.Logo {
    font-size: 32px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-family: Mobern;
}

/*NavBar text styling*/
.navbar a {
    position: relative;
    font-size: 24px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin: 0 20px;
    font-family: CaviarDreams;
}

/*NavBar text hover state*/
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

/*Dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
    font-family: CaviarDreams;
}

/*"Menu" button that triggers dropdown*/
.d-button {
    background-color: transparent;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 0 20px;
    font-family: CaviarDreams;
}

/*Dropdown internal styling*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b3b3b3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Dropdown box text*/
.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: #b3b3b3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Navbar flex and vertical alignment*/
.navbar {
    display: flex;
    align-items: center;
}

/* Search bar styling
/* Search container styling 
.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Pushes the search bar to the right end 
    margin-right: 20px;
}

/* Search input field 
.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    font-family: CaviarDreams;
}

/*Search button styling
.search-container button {
    background-color: #b3b3b3;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.search-container button i {
    font-size: 16px;
    color: #000;
    font-family: CaviarDreams;
}

 Change background color on hover 
.search-container button:hover {
    background-color: #999;
} */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General directions for entirety of site*/
body {
    font-family: CaviarDreams;
    margin: 0;
    padding: 0;
    padding-top: 75px;
    background-color: #f0f0f0;
    height: 300vh;
    display: flex;
    flex-direction: column;

}

/*Overruling filter-container (Grey background)*/
.filter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: #b3b3b3;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    position: relative;
    top: 20px;
    border-radius: 10px;
    gap: 20px;
}

/*Covers main styling for both left and right filter boxes*/
.filter-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Text headings for each adjustable filter*/
.filter-box label {
    margin-top: 10px;
    font-weight: bold;
}

.filter-box select,
.filter-box input[type="date"],
#price {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

/*Star filter */
.star-rating {
    display: flex;
}

/*Star styling*/
.star {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

/*Star turns gold on hover*/
.star.selected,
.star.hover {
    color: gold;
}

/*Sort-By container*/
.sort-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-left: 35px;
    margin-top: 30px;
    padding: 10px;
    background-color: #b3b3b3;
    border: 1px solid #ccc;
    border-radius: 15px;
}

/*Sort-by heading text*/
.sort-container label {
    margin-top: 10px;
    font-weight: bold;
}

/*Sort by drop-down box*/
.sort-container select {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

/*Central information section*/
.main-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1800px;
    margin: 40px 35px;
    gap: 20px;
    height: auto;
    background-color: #b3b3b3;
    padding: 20px;
    border-radius: 20px;
}

/*General styling for both left and right sections. Keeps both styles the same*/
.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

/*Accommodation/ golf course section images*/
.content-image {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 225px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*Individual golf course/ accommodation boxes*/
.content-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: auto;
    position: relative;
}

/*Right section styling. ("Interactive Map Coming Soon...")*/
.content-box-right {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    position: relative;
}

/*Content-header holds all information about each location.*/
.content-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 225px;
    flex: 1;
    margin-right: 20px;
    max-width: fit-content;
}

/*Name of location*/
.content-header h2 {
    margin: 0;
}

/*Star rating styling*/
.star-rating2 {
    display: flex;
    margin-top: 10px;
}

.star2 {
    font-size: 24px;
    color: #ccc;
}

.star2.selected {
    color: gold;
}

/*Price per night/per round information*/
.content-header p {
    padding-top: 10px;
}


/* Ensure p element is styled properly */
.content-box p {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: fit-content;
}

/*Amenities list. To be fixed and added later
.amenities {
    width: 100px; 
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.amenities h3 {
    margin-top: 0;
}

.amenities ul {
    list-style-type: none;
    padding: 0;
}

.amenities li {
    margin-top: 10px;
}
*/




/*Footer Navigation*/

/*Footer background*/
.site-footer {
    background-color: #b3b3b3;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

/*Puts everything inside background with spacing*/
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/*Organizes size of each column*/
.footer-column {
    flex: 0 0 30%;
    margin-right: 20px;
    text-align: center;
}

/*Styles text within each column*/
.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

/*Styles text and list within footer columns*/
.footer-column p,
.footer-column ul {
    font-size: 14px;
    line-height: 1.6;
}

/*Footer list classes (Help, Contact and About)*/
.footer-column ul {
    list-style: none;
    padding-left: 0;
}

/*Text inside each footer list*/
.footer-column ul li {
    margin-bottom: 7px;
    position: relative;
}

/*Footer links*/
.footer-column ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    position: relative;
}

/*Link's hover state*/
.footer-column ul li a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s, transform-origin 0s;
    transform-origin: center;
}

/*Link's hover state*/
.footer-column ul li:hover a::before {
    width: 100%;
}

/*Newsletter Pop-up*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/*General pop-up background*/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

/*Pop-up title*/
.popup h2 {
    margin-bottom: 10px;
}

/*Pop-up Text*/
.popup p {
    margin-bottom: 20px;
}
/*Email entry and label*/
form {
    display: flex;
    flex-direction: column;
}
/*"Email" text above text input box*/
label {
    margin-bottom: 5px;
}
/*Text input box*/
input {
    padding: 8px;
    margin-bottom: 10px;
}
/*Subscribe button for pop-up*/
#subscribeForm button {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#subscribeForm button:hover {
    background-color: #b3b3b3;
}
/*Pop-up close button*/
.close {
    color: #777;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.close:hover {
    color: #333;
}